name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint_markdown:
    name: Run markdown linter
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Lint markdown
      uses: DavidAnson/markdownlint-cli2-action@v15
      with:
        globs: |
          README.md

  build:
    name: Run cargo build, cargo clippy and tests
    runs-on: ubuntu-latest
    container:
      image: docker.io/library/almalinux:9
    steps:
    - name: Install tools
      run: dnf -y install git cargo clippy openssl-devel jq geolite2-country
    - name: Extend $PATH
      run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
    - uses: actions/checkout@v6
    - name: Build
      run: cargo build --verbose
    - name: Run clippy
      run: cargo clippy --verbose
    - name: Run tests
      run: tests/run_tests.sh
